* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right top, #d87ecc, #adfc79);
  background-attachment: fixed;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  font-size: 1.5rem;
}

#score {
  font-size: 2rem;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin: 20px 20px;
}

.circles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.circle {
  height: 180px;
  width: 180px;
  background-color: white;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  display: inline-block;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  cursor: url(fish.svg), crosshair;
}

button {
  font-family: inherit;
  font-size: inherit;
  background-color: #1cd415;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2px;
  margin: 1rem;
  padding: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
}

#overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 3rem;
  width: 40%;
  height: 25%;
  border-radius: 10px;
  position: relative;
}

.modal button {
  position: absolute;
  font-size: 1.5rem;
  bottom: 0;
  right: 0;
  background-color: #1cd415;
}

#result {
  font-size: 1.5rem;
}

.circle.active {
  background-image: url(raccoon.jpeg);
  background-size: contain;
}

#stop {
  display: none;
}

@media (max-width: 497px) {
  h1 {
    font-size: 3rem;
  }
  .circle {
    height: 110px;
    width: 110px;
  }
  #result {
    font-size: 1rem;
    margin-top: 20px;
  }

  .modal {
    height: 40%;
  }
}
