* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right top, #d87ecc, #adfc79);
  background-attachment: fixed;
  text-align: center;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#score {
  font-size: 2rem;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 5rem;
  text-align: center;
  margin: 20px 20px;
}

.circles {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 0 auto;
  justify-content: space-between;
  text-align: center;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  background-color: #f3f3f3;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2px;
  margin: 1rem;
  cursor: pointer;
}

#overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 2rem;
  width: 40%;
  height: 25%;
  border-radius: 10px;
  position: relative;
}

.modal button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
}

#result {
  font-size: 1.5rem;
}

.circle.active {
  background-color: #adfc79;
}

#stop {
  display: none;
}
